In [1]:
import numpy as np
import pandas as pd

In [2]:
m_df = pd.read_csv('matches.csv')
d_df = pd.read_csv('deliveries.csv')

In [3]:
m_df.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [4]:
#
m_df = m_df.sort_values(by='season')

In [5]:

m_df

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
116,117,2008,Mumbai,2008-06-01,Chennai Super Kings,Rajasthan Royals,Rajasthan Royals,field,normal,0,Rajasthan Royals,0,3,YK Pathan,Dr DY Patil Sports Academy,BF Bowden,RE Koertzen,NaN
82,83,2008,Jaipur,2008-05-04,Chennai Super Kings,Rajasthan Royals,Chennai Super Kings,bat,normal,0,Rajasthan Royals,0,8,Sohail Tanvir,Sawai Mansingh Stadium,Asad Rauf,AV Jayaprakash,NaN
81,82,2008,Mumbai,2008-05-04,Mumbai Indians,Delhi Daredevils,Delhi Daredevils,field,normal,0,Mumbai Indians,29,0,SM Pollock,Dr DY Patil Sports Academy,IL Howell,RE Koertzen,NaN
80,81,2008,Chandigarh,2008-05-03,Kings XI Punjab,Kolkata Knight Riders,Kings XI Punjab,bat,normal,0,Kings XI Punjab,9,0,IK Pathan,"Punjab Cricket Association Stadium, Mohali",DJ Harper,I Shivram,NaN
79,80,2008,Hyderabad,2008-05-25,Deccan Chargers,Royal Challengers Bangalore,Deccan Chargers,bat,normal,0,Royal Challengers Bangalore,0,5,R Vinay Kumar,"Rajiv Gandhi International Stadium, Uppal",Asad Rauf,RE Koertzen,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34,35,2017,Chandigarh,2017-04-30,Delhi Daredevils,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,10,Sandeep Sharma,"Punjab Cricket Association IS Bindra Stadium, ...",YC Barde,CK Nandan,NaN
33,34,2017,Rajkot,2017-04-29,Gujarat Lions,Mumbai Indians,Gujarat Lions,bat,tie,0,Mumbai Indians,0,0,KH Pandya,Saurashtra Cricket Association Stadium,AK Chaudhary,CB Gaffaney,NaN
32,33,2017,Pune,2017-04-29,Rising Pune Supergiant,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Rising Pune Supergiant,61,0,LH Ferguson,Maharashtra Cricket Association Stadium,KN Ananthapadmanabhan,M Erasmus,NaN
44,45,2017,Bangalore,2017-05-07,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,6,SP Narine,M Chinnaswamy Stadium,AY Dandekar,C Shamshuddin,NaN
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN

# Top 4 teams in terms of wins

In [6]:
#Let say user have selected 2010 years data.

df_by_season = m_df[m_df['season']==2010]
top_four_teams = df_by_season['winner'].value_counts()[:4]
top_four_teams.keys()

Index(['Mumbai Indians', 'Chennai Super Kings', 'Deccan Chargers',
       'Royal Challengers Bangalore'],
      dtype='object')

# Which team won the most number of tosses in the season

In [7]:
top_toss_winners = df_by_season['toss_winner'].value_counts()
top_toss_winners[:1]

Chennai Super Kings    10
Name: toss_winner, dtype: int64

# Which player won the maximum number of Player of the Match awards in the whole season

In [8]:
top_player_of_match = df_by_season['player_of_match'].value_counts()[:1]
top_player_of_match

SR Tendulkar    4
Name: player_of_match, dtype: int64

# Which team won max matches in the whole season

In [9]:
team_won_max_matches = top_four_teams[:1]
team_won_max_matches.keys()

Index(['Mumbai Indians'], dtype='object')

# Which location has the most number of wins for the top team

In [10]:
team_won_max_matches = top_four_teams[:1]
max_played_location = df_by_season[ df_by_season['winner']==team_won_max_matches.keys()[0]]['city'].value_counts()
max_played_location[:1].keys()

Index(['Mumbai'], dtype='object')

# Which % of teams decided to bat when they won the toss

In [11]:
total_toss_winners = df_by_season['toss_winner'].count()
toss_winner_bat_first = df_by_season['toss_winner'][df_by_season['toss_decision']=='bat'].count()
(toss_winner_bat_first*100)/total_toss_winners

65.0

# Which location hosted most number of matches and win % and loss % for the season

In [12]:
max_played_loc = df_by_season['city'].value_counts().keys()[0]

win_loss_df = df_by_season[df_by_season['city']==max_played_loc][['team1','team2','winner']]
win_loss_df['loser'] = np.where(win_loss_df['team1']==win_loss_df['winner'],win_loss_df['team2'],win_loss_df['team1'])
win_loss_df = win_loss_df[['winner','loser']]
win_in_city = win_loss_df.winner.value_counts().to_dict() #.str.split("t", n = 1, expand = True)  #.to_frame()
loss_in_city = win_loss_df.loser.value_counts().to_dict() #.str.split("t", n = 1, expand = True)  #.to_frame()

win_loss_per = pd.DataFrame(columns=['teams','win(%)','loss(%)'])
win_loss_per['teams'] = np.unique(win_loss_df[['winner','loser']].values)

for key,value in win_in_city.items():
    for i in range(len(win_loss_per['teams'])):
        if win_loss_per.loc[i]['teams']==key:
            win_loss_per.loc[i]['win(%)']= value

for key,value in loss_in_city.items():
    for i in range(len(win_loss_per['teams'])):
        if win_loss_per.loc[i]['teams']==key:
            win_loss_per.loc[i]['loss(%)']= value

win_loss_per['win(%)'].fillna(0, inplace=True)



win_loss_per

                         teams  win(%) loss(%)
0          Chennai Super Kings       2       1
1              Deccan Chargers       0       5
2             Delhi Daredevils       0       1
3              Kings XI Punjab       0       1
4        Kolkata Knight Riders       1       1
5               Mumbai Indians       8       2
6             Rajasthan Royals       0       1
7  Royal Challengers Bangalore       2       1

In [13]:
win_loss_per['win(%)'], win_loss_per['loss(%)']  = win_loss_per['win(%)']*100/ (win_loss_per['win(%)']+win_loss_per['loss(%)']) , win_loss_per['loss(%)']*100/ (win_loss_per['win(%)']+win_loss_per['loss(%)'])
win_loss_per

                         teams   win(%)  loss(%)
0          Chennai Super Kings  66.6667  33.3333
1              Deccan Chargers        0      100
2             Delhi Daredevils        0      100
3              Kings XI Punjab        0      100
4        Kolkata Knight Riders       50       50
5               Mumbai Indians       80       20
6             Rajasthan Royals        0      100
7  Royal Challengers Bangalore  66.6667  33.3333

In [14]:
columns = ['teams','win_in_city', 'loss_in_city', 'win_in_all_city', 'loss_in_all_city']
a = df_by_season.team1.unique()
winner_losser_percent_of_teams = pd.DataFrame({'teams': a} ,columns=columns)
winner_losser_percent_of_teams
# #np.where(win_in_city == winner_losser_percent_of_teams['teams']
# for data in win_in_city:
# #     import pdb; pdb.set_trace()
#     winner_losser_percent_of_teams['teams'] = np.where(winner_losser_percent_of_teams['teams']==data)

,teams,win_in_city,loss_in_city,win_in_all_city,loss_in_all_city
0,Royal Challengers Bangalore,NaN,NaN,NaN,NaN
1,Kings XI Punjab,NaN,NaN,NaN,NaN
2,Kolkata Knight Riders,NaN,NaN,NaN,NaN
3,Delhi Daredevils,NaN,NaN,NaN,NaN
4,Mumbai Indians,NaN,NaN,NaN,NaN
5,Rajasthan Royals,NaN,NaN,NaN,NaN
6,Deccan Chargers,NaN,NaN,NaN,NaN
7,Chennai Super Kings,NaN,NaN,NaN,NaN

# Which team won by the highest margin of runs  for the season

In [15]:
df_by_season.win_by_runs.max()
df_by_season[ df_by_season.win_by_runs == df_by_season.win_by_runs.max()][['winner', 'win_by_runs'] ]

             winner  win_by_runs
182  Mumbai Indians           98

# Which team won by the highest number of wickets for the season

In [16]:
#matches_list = df_by_season.win_by_wickets[df_by_season['win_by_wickets'].max()
#matches_list
data = df_by_season[['winner', 'win_by_wickets']].groupby('winner').sum()

In [17]:
data.sort_values(by='win_by_wickets', ascending=False)
data

                             win_by_wickets
winner
Chennai Super Kings                      25
Deccan Chargers                          18
Delhi Daredevils                         17
Kings XI Punjab                          21
Kolkata Knight Riders                    24
Mumbai Indians                           16
Rajasthan Royals                         17
Royal Challengers Bangalore              52

In [29]:
data.iloc[0].win_by_wickets

25

# How many times has a team won the toss and the match

In [41]:
df_by_season[df_by_season['toss_winner']==df_by_season['winner']]['toss_winner'].value_counts().to_dict()


#.sort_values(by='toss_winner', ascending=False)

{'Mumbai Indians': 6,
 'Chennai Super Kings': 6,
 'Delhi Daredevils': 5,
 'Deccan Chargers': 5,
 'Kolkata Knight Riders': 4,
 'Rajasthan Royals': 3,
 'Royal Challengers Bangalore': 2}

# Which Batsman gave away the most number of runs in a match for the selected season

In [20]:
d_df.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [21]:
d_df.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batsman', 'non_striker', 'bowler', 'is_super_over', 'wide_runs',
       'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',
       'batsman_runs', 'extra_runs', 'total_runs', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

In [22]:
match_df = pd.DataFrame(columns=d_df.columns)
for match_id in df_by_season['id']:
    match_df.append( d_df[d_df['match_id'] == match_id])

In [23]:
match_df

Empty DataFrame
Columns: [match_id, inning, batting_team, bowling_team, over, ball, batsman, non_striker, bowler, is_super_over, wide_runs, bye_runs, legbye_runs, noball_runs, penalty_runs, batsman_runs, extra_runs, total_runs, player_dismissed, dismissal_kind, fielder]
Index: []

[0 rows x 21 columns]